<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{pizza/fragments :: resources}"></th:block>

    <title>Crea Offerta</title>
</head>
<body>
<div class="container-fluid">
    <nav th:replace="~{pizza/fragments :: navbar('pizzas', '', false)}"></nav>
</div>
<div class="container" th:with="pizza=${specialoffer.pizza}">
    <h1>
        <span>Crea un Offerta</span>
        <span th:if="${pizza != null}" th:text="|for ${pizza.name}|"></span>
    </h1>
    <form
            id="specialoffer-form"
            method="post"
            class="row gy-3"
            th:action="@{/specialoffer/create}"
            th:object="${specialoffer}"
    >
        <input type="hidden" th:field="${specialoffer.pizza}">

        <div class="col-8">
            <label class="form-label" for="title">Titolo*</label>
            <input type="text" id="title" class="form-control" th:field="*{title}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="col-6">
            <label class="form-label" for="startingDate">Inizio*</label>
            <input type="date" id="startingDate" class="form-control" th:field="*{startingDate}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('startingDate')}">
                <ul>
                    <li th:each="err : ${#fields.errors('startingDate')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label" for="expire-date">Fine*</label>
            <input type="date" id="expire-date" class="form-control" th:field="*{endingDate}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('endingDate')}">
                <ul>
                    <li th:each="err : ${#fields.errors('endingDate')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="my-btn">Save</button>
<!--
            <a class="btn btn-primary" th:href="@{|/pizzas/${specialoffer.pizza.id}|}">Cancel</a>
-->
        </div>
    </form>
</div>


<th:block th:replace="~{pizza/fragments :: scripts}"></th:block>
</body>
</html>