<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{pizza/fragments :: resources}"></th:block>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
  <nav th:replace="~{pizza/fragments :: navbar('pizzas', '', false)}"></nav>
</div>

<div class="container">

    <h1>Nuova Pizza</h1>

    <form id="pizza-form" method="post" th:object="${pizza}" th:action="@{/pizzas/create}" class="row gy-3">

        <div class="col-6">
            <label class="form-label" for="name">Nome*</label>
            <input type="text" id="name" class="form-control" th:field="*{name}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>


        <div class="col-3">
            <label class="form-label" for="price">Prezzo*</label>
            <input type="number" min="2" max="100" id="price" class="form-control" th:field="*{price}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="description">Ingredienti</label>
            <textarea id="description" class="form-control" th:field="*{description}" rows="5" th:errorClass="is-invalid"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="cover">Link Immagine</label>
            <input type="text" id="cover" class="form-control" th:field="*{cover}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('cover')}">
                <ul>
                    <li th:each="err : ${#fields.errors('cover')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-start g-4" style="gap: 1em">
            <button type="submit" class="my-btn">Salva</button>
            <a class="my-btn" th:href="@{/pizzas/index}">Annulla</a>
        </div>

    </form>


</div>


<th:block th:replace="~{pizza/fragments :: scripts}"></th:block>
</body>
</html>