<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{pizza/fragments :: resources}"></th:block>
    <title>Pizzas' Menu</title>
</head>
<body>

<div class="container-fluid">
    <nav th:replace="~{pizza/fragments :: navbar('pizzas', '', true)}"></nav>

</div>

<div class="container">


    <div class="d-flex justify-content-start align-items-center" style="gap: 1em">
        <h1>Menu</h1>
        <a th:href="@{/pizzas/create}" class="my-btn-sx rounded-circle" title="add pizza"><i
                class="fa-solid fa-plus"></i></a>
    </div>

    <table class="table" th:if="${menu.size() > 0}" >
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">Ingredienti</th>
            <th scope="col">Prezzo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${menu}" th:object="${p}">
            <td>
                <a th:href="@{|/pizzas/*{id}|}"  title="detail">
                    <img class="cover" th:src="${p.cover}">
                </a>
            </td>
            <th scope="row" style="font-size: 1.7rem " >
                <a th:href="@{|/pizzas/*{id}|}" th:text="*{name}" title="detail">
                </a>
            </th>
            <td style="font-size: 1.3rem " th:text="*{description}"></td>
            <td style="color: #98694b; font-size: 2rem " th:text="|€*{price}|"></td>
            <td>  <a th:href="@{|/pizzas/edit/*{id}|}" class="my-btn" title="edit">
                          <i class="fa-solid fa-pen-to-square"></i>
                     </a>
                <a
                        th:href="@{|/pizzas/delete/*{id}|}"
                        class="my-btn"
                        title="edit" >
                                <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
    <p th:if="${menu.size() == 0}">No pizza corresponding to this query</p>

</div>


<th:block th:replace="~{pizza/fragments :: scripts}"></th:block>
</body>
</html>