<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{pizza/fragments :: resources}"></th:block>
    <title>Pizzas' Menu</title>
</head>
<body>

<div class="container-fluid">
    <nav th:replace="~{pizza/fragments :: navbar('pizzas', '', true)}"></nav>

</div>

<div class="container">

<h1>Our Menu</h1>

    <table class="table" th:if="${menu.size() > 0}" >
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${menu}" th:object="${p}">
            <td>
                <a th:href="@{|/pizzas/*{id}|}"  title="detail">
                    <img class="cover" th:src="${p.cover}">
                </a>
            </td>
            <th scope="row" th:text="*{name}"></th>
            <td th:text="*{description}"></td>
            <td style="color: #98694b; font-size: 1.5rem " th:text="|€*{price}|"></td>

        </tr>
        </tbody>
    </table>
    <p th:if="${menu.size() == 0}">No pizza corresponding to this query</p>

</div>


<th:block th:replace="~{pizza/fragments :: scripts}"></th:block>
</body>
</html>