<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div th:fragment="success(message)" class="alert alert-success" role="alert">
  <p th:text="${message}"></p>
</div>
<div th:fragment="danger(message)" class="alert alert-danger" role="alert">
  <p th:text="${message}"></p>
</div>
</body>
</html>