<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{pizza/fragments :: resources}"></th:block>
    <title th:text="|Pizza ${pizza.name}|" ></title>
</head>
<body>
<div class="container-fluid">
  <nav th:replace="~{pizza/fragments :: navbar('pizzas', '', false)}"></nav>
</div>

<div class="container">
    <a th:href="@{/pizzas/index}"><i style="font-size: 2rem" class="fa-solid fa-chevron-left"></i></a>

    <div class="d-flex justify-content-center mb-5">
        <h1 th:text="|${pizza.name}|" class="text-center"></h1>
        <span class="price" th:text="|€ ${pizza.price}|"></span>
    </div>

    <div class="wrapper d-flex justify-content-center flex-column ">
        <img class="cover-show" th:src="${pizza.cover}">

        <p class="text-center my-5"> Ingredienti:
            <span th:each="ingr : ${pizza.ingredients}" th:text="|${ingr.name}  |"></span>
        </p>

    </div>
    <p class="text-center my-5" th:text="|Descrizione: ${pizza.description}|"> </p>
    <h2>Offerte</span>
        <a th:href="@{/specialoffer/create(pizzaId=${pizza.id})}"
           class="my-btn"
           title="Aggiungi Offerta"
        >
            <i class="fa-solid fa-plus"></i>
        </a>
    </h2>
    <table class="table" th:object="${pizza}">
        <thead>
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Inizio</th>
            <th scope="col">Fine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : *{specialOffers}" >
            <td th:text="${offer.title}"></td>
            <td th:text="${#temporals.format(offer.startingDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(offer.endingDate, 'dd/MM/yyyy')}"></td>
            <td> <a class="my-btn" th:href="@{|/specialoffer/edit/${offer.id}|}">Modifica</a> </td>
            <td> <a class="my-btn" th:href="@{|/specialoffer/delete/${offer.id}|}">Elimina</a> </td>
        </tr>
        </tbody>
    </table>

</div>

<th:block th:replace="~{pizza/fragments :: scripts}"></th:block>
</body>
</html>