<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{pizza/fragments :: resources}"></th:block>

  <title>Modifica Ingredienti</title>
</head>
<body>
<div class="container-fluid">
  <nav th:replace="~{pizza/fragments :: navbar('ingredients', '', false)}"></nav>
</div><div class="container">
  <h1>Ingredienti</h1>
  <div class="row">
    <div class="col-6 my-5">
      <form
              id="ingredient-form"
              method="post"
              th:action="@{/ingredients/save}"
              th:object="${ingredient}"
      >

        <div class="col-12">
          <label class="form-label" for="name">Nome*</label>
          <input type="text" id="name" class="form-control" th:field="*{name}"
                 th:errorClass="is-invalid">
          <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
            <ul>
              <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
            </ul>
          </div>-->
        </div>
        <div class="col-12">
          <button type="submit" class="my-btn">Salva</button>
        </div>
      </form>
    </div>

  </div>
  <th:block th:replace="~{pizza/fragments :: scripts}"></th:block>
</body>
</html>